<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div>
    <form method="post">
        <input type="text" name = "name" placeholder="Введите сообщение"/>
        <input type="text" name="email" placeholder="Тэг">
        <button type="submit">Добавить</button>


    </form>

</div>


<div>Список сообщений</div>
{{#users}}
    <div>
        <b>{{id}}</b>
        <span> {{name}}</span>
        <i>{{email}}</i>

    </div>


{{/users}}
</body>
</html>